i {
  position:absolute;
  width: 100px;
  height:50px;  
  left:20px;
  top:20px;
  z-index:999;
}

iframe {
  position:absolute;
  width: 100px;
  height:50px;
  left:20px;
  top:20px;
  border:none;
}
